<div class="container-fluid main-view">
  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-left search-container">
      <h4>Search</h4>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 search-input-container">
          {{>_search-input}}
          <ul class="result-items">

            <!-- yelp response object -->

          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-right user-items-container">
      <h4 class="user-items-header"><a href="/users/{{ user.username }}">@{{ user.username }}</a>'s Places</h4>
      <div class="user-items-wrapper">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active food-tab"><a class="sections-tab">Food <i class="fa fa-times"></i></a></li>
          <li role="presentation" class="drinks-tab"><a class="sections-tab">Drinks <i class="fa fa-times"></i></a></li>
          <li role="presentation" class="attractions-tab"><a class="sections-tab">Attractions <i class="fa fa-times"></i></a></li>
          <li role="presentation" class="add-tab"><a class="sections-tab"><i class="fa fa-plus"></i></a></li>
        </ul>
      
        <div class="row" id="food">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="user-items">
              {{#each user.places}}
              <li>
                <div class="user-item">
                <div class="user-item-icon">
                  <form action="/places/{{ this._id }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="placeId" value="{{ this._id }}" >
                    <button data-id="{{ this._id }}%>" type="submit" class="no-btn" id="search-remove"><i class="fa fa-times"></i></button>      
                  </form>
                </div>
                  <div class="user-item-img">
                    <a href="../assets/images/tuna_tartare.jpg" data-lightbox="added-img"><img src="{{ this.imageUrl }}" class="img-responsive"></a>
                  </div>
                  <div class="user-item-info">
                    <h4><a href="#" target="_blank">{{ this.venue }}</a></h4>
                    <h5>{{ this.city }}</h5>
                  </div>
                </div>
              </li>
              {{/each}}
            </ol>
          </div>
        </div>
        <div id="drinks">
          <h2 class="added-results-title">DRINKS</h2>
        </div>
        <div id="attractions">
          <h2 class="added-results-title">ATTRACTIONS</h2>
        </div>
      </div>


    </div>
  </div>

    <i class="fa fa-th-list"></i>

</div>

