<div class="container container-users">
	<div class="row page">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 page-content">
			<h2 class="section-title">Browse Users</h2>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-user-results">
					<h5>Showing 17 results</h5>
					{{#each users}}
					<div class="row user-result-item">
						<a class="user-result-link" href="/users/{{ this.username }}"><div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-offset-1 img-user-result">
						</div></a>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							
							<h4><a class="user-result-link" href="/users/{{ this.username }}">{{ this.name }}</a></h4>
							<h5><a class="user-result-link" href="/users/{{ this.username }}">@{{ this.username }}</a></h5>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 user-result-connect pull-right">
							<button class="btn btn-primarylight">Connect</button>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>